* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 500px;
    background: #eeeeee;
    padding: 10px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;    /* 넘친다면 줄바꿈 */
    align-content: flex-start;
}

.container div {
    background: blue;
    margin: 5px;
    width: 200px;
    color: white;
}

.box4 {
    order: 3    /* 지정 안하면 0 */
}

.box5 {
    order: 1
}